/world
/aether
/chunkData
.gitignore
config.toml
main1.go
plugin.exe
/plugins
/plugin
.DS_Store
pcm
worldold
zeppelin-cpu-profile
zeppelin-mem-profile
zeppelin.exe
/zeppelin
/world_old
server.properties
/q
data.qfg
/blockstates
server-icon.png
/resources
/server/session/atomicSlice.go
/server/session/a_test.go
/qnbt2
/qnbt2test.go
/main