resources
configs/config.toml
/dynamite*
.idea
banned_ips.json
banned_players.json
ops.json
config.toml
whitelist.json
.DS_Store
/world
/plugins
*.bin
log
/cpu.out
/ram.out
/permissions
server-icon.png
lang.json