body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#title {
    font-size: 60px;
}

#subtitle {
    font-size: 40px
}

.text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}